[submodule ".registry"]
	path = .registry
	url = https://github.com/rpolars/rpolars.r-universe.dev
	branch = HEAD
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = v0.9.0
