[submodule ".registry"]
	path = .registry
	url = https://github.com/rpolars/rpolars.r-universe.dev
	branch = HEAD
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = v0.11.0
[submodule "polarssql"]
	path = polarssql
	url = https://github.com/rpolars/r-polarssql
[submodule "testthat"]
	path = testthat
	url = https://github.com/r-lib/testthat
	registered = false
